@model br.com.LojaVeiculos.Models.TB_CLIENTE

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Cliente", FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TB_CLIENTE</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NM_CLIENTE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NM_CLIENTE)
            @Html.ValidationMessageFor(model => model.NM_CLIENTE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DT_NASCIMENTO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DT_NASCIMENTO)
            @Html.ValidationMessageFor(model => model.DT_NASCIMENTO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FL_ATIVO)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.FL_ATIVO)
            @Html.ValidationMessageFor(model => model.FL_ATIVO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NM_TELEFONE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NM_TELEFONE)
            @Html.ValidationMessageFor(model => model.NM_TELEFONE)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
