@model br.com.LojaVeiculos.Models.TB_CLIENTE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TB_CLIENTE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NM_CLIENTE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NM_CLIENTE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DT_NASCIMENTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DT_NASCIMENTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FL_ATIVO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FL_ATIVO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NM_TELEFONE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NM_TELEFONE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID_cliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
